<% provide :nav, derailed_number %>
<% provide :title, link_to('Foundation', people_path) %>

<p>
  Derailed 00 is a very simple example of
  <abbr title="Create, Read, Update, Delete">CRUD</abbr> operations for a single resource, <em>People</em>.
  It is the foundation for all other Derailed example apps.
</p>

<p class="m-b-h">
  Although basic, it demonstrates a standard approach to the following:
</p>

<ul>
  <li>Testing, at all framework levels.</li>
  <li>Controller structure.</li>
  <li>Page layout.</li>
  <li>Code style.</li>
</ul>

<p class='text-muted m-t-3'>
    Like all Derailed examples, you can see this app running on
    <%= link_to 'Heroku', 'http://heroku.com', target: '_blank' %>
    and find the source code on
    <%= link_to 'GitHub', 'http://github.com', target: '_blank' %>.
</p>
