<% provide :title, 'Foundation' %>

<p>
  This very simple app demonstrates <abbr title="Create, Read, Update, Delete">CRUD</abbr> operations for a
  single resource, <em>People</em>.
</p>
<p>
  It is the starting point for other, more interesting, <a href="#">example apps</a>.
</p>

<p class="m-b-h">
  Although basic, it demonstrates a standard approach to:
</p>

<ul>
  <li>Testing, at all framework levels.</li>
  <li>Controller structure.</li>
  <li>Code style and linting.</li>
</ul>

<p>
  Description...
</p>

<p class='splash'>
    Like all Derailed examples, you can see this app running on
    <%= link_to 'Heroku', 'http://heroku.com', target: '_blank' %>
    and find the source code on
    <%= link_to 'GitHub', 'http://github.com', target: '_blank' %>.
</p>
