<% provide :title, 'About' %>

<p>
  Derailed 00 is a very simple example of
  <abbr title="Create, Read, Update, Delete">CRUD</abbr> operations for a single resource, <em>People</em>.
</p>
<p>
  It is the basis for all other Derailed example apps.
</p>

<%= link_to "View Example".html_safe, people_path, class: 'btn btn-primary btn-block m-y-2 m-x-auto' %>

<p>
  While it doesn’t do a whole lot, it does demonstrate the following:
</p>

<ol class="">
  <li>asdasd</li>
  <li>asdasd</li>
  <li>asdasd</li>
  <li>asdasd</li>
  <li>asdasd</li>
</ol>

<p class='text-muted m-t-3'>
    Like all Derailed examples, you can see this app running on
    <%= link_to 'Heroku', 'http://heroku.com', target: '_blank' %>
    and find the source code on
    <%= link_to 'GitHub', 'http://github.com', target: '_blank' %>.
</p>
