<% provide :nav, 'Derailed 00' %>
<% provide :button, link_to('View', people_path, class: 'btn btn-success pull-xs-right') %>
<% provide :title, 'Foundation' %>

<p>
  Derailed 00 is a very simple example of
  <abbr title="Create, Read, Update, Delete">CRUD</abbr> operations for a single resource, <em>People</em>.
</p>
<p>
  It is the foundation for all other Derailed example apps.
</p>
<p>
  A full description can be found <a href="">here</a>.
</p>

<p class='text-muted m-t-2'>
    Like all Derailed examples, you can see this app running on
    <%= link_to 'Heroku', 'http://heroku.com', target: '_blank' %>
    and find the source code on
    <%= link_to 'GitHub', 'http://github.com', target: '_blank' %>.
</p>
