<% provide :title, 'About' %>
<% provide :button, link_to("View Example".html_safe, people_path, class: 'btn btn-primary pull-xs-right') %>

<p>
  This is a simple example of basic <abbr title="Create, Read, Update, Delete">CRUD</abbr> operations for a
  single resource, <em>People</em>.
</p>

<p>
  It doesn’t do a whole lot, but is the basis for other example apps.
</p>

<p>
  Among the things it does do&hellip;
</p>

<p class='text-muted'>
    Like all Derailed examples, you can see this app running on Heroku and the source code is on GitHub.
</p>
