<% provide :button, link_to('Add Person', new_person_path, class: 'btn btn-success pull-xs-right') %>
<% provide :title, 'People' %>

<ul class="list-unstyled">
<% @people.each do |p| %>
    <li class="p-b-h">
      <%= p.name %>
      <%= link_to 'view', p %>
    </li>
<% end %>
</ul>
