<% provide :button, link_to("Add New", new_person_path, class: 'btn btn-success pull-xs-right') %>
<% provide :title, 'People' %>

<div id="people">

  <label for="filter" class="sr-only">Filter</label>
  <input id="filter" type="text" class="search" placeholder="Filter&hellip;" autofocus="true" autocomplete="off"/>

  <ul class="list list-unstyled">
    <%= render @people %>
  </ul>
</div>
