<% provide :title, @person.name %>

<h5>Job Title</h5>
<p>
  <%= @person.job_title %>
</p>

<h5>Bio</h5>
<p class="m-b-2">
  <%= @person.bio %>
</p>

<%= link_to 'Edit', edit_person_path(@person), class: 'btn btn-success' %>

<%= link_to 'Delete', @person, method: :delete, data:
  { confirm: "Are you sure you want to delete #{@person.name}?" }, class: 'btn btn-outline-success' %>
