@import "variables";
@import "bootstrap-app";

strong,
.strong {
  font-weight: 500;
}

.nowrap {
  white-space: nowrap;
}

.p-b-h {
  padding-bottom: 0.5em;
}

.p-b-q {
  padding-bottom: 0.25em;
}

.m-b-h {
  margin-bottom: 0.5em;
}

label {
  @extend .text-muted;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  @extend .form-control;
  @extend .form-group;
}

.btn {
  font-weight: 500;
  letter-spacing: 0.05em;
}

button {
  @extend .btn;
  @extend .btn-success;
}

.field_with_errors {
    @extend .has-danger;
    label {
      @extend .text-danger;
    }
}

.flash {
  @extend .alert;
  @include alert-variant(#ffc, #eee, $text-muted);
  text-align: center;
  padding: 0.5em 0.25em;
  cursor: pointer;
}

ul, ol {
  padding-left: 3em;
  margin-bottom: 0.5em;
}

li {
  padding-bottom: 0.5em;
}

// layout

html {
  position: relative; // fixed footer
  min-height: 100%; // fixed footer
}

header {
  background-color: #eee;
}

body {
  margin-bottom: 4.1875em; // fixed footer
  background-color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.1875em; // fixed footer
  background-color: #555;
  color: #aaa;
}

div#people li {
  display: inline-block;
}
