@import "variables";
@import "bootstrap-app";

strong,
.strong {
  font-weight: 500;
}

.nowrap {
  white-space: nowrap;
}

.p-b-h {
  padding-bottom: 0.5em;
}

.p-b-q {
  padding-bottom: 0.25em;
}

.m-b-h {
  margin-bottom: 0.5em;
}

.d-none {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  @extend .form-control;
  @extend .form-group;
}

.btn {
  font-weight: 500;
  letter-spacing: 0.05em;
}

button {
  @extend .btn;
  @extend .btn-success;
}

.field_with_errors {
    @extend .has-danger;
    label {
      @extend .text-danger;
    }
}

.flash {
  @extend .alert;
  @extend .m-x-auto;
  @include alert-variant(#ffc, #ddd, $text-muted);
  text-align: center;
  padding: 0.5em 0.25em;
  cursor: pointer;
  position: relative;
  top: -2em;
  margin-bottom: -2.875em;
  width: 90%;
  max-width: 400px;
  opacity: 0;
  animation: fade 4s ease-in-out;
}

ul, ol {
  padding-left: 3em;
  margin-bottom: 0.5em;
}

li {
  padding-bottom: 0.5em;
}

// layout

html {
  position: relative; // fixed footer
  min-height: 100%; // fixed footer
}

header {
  background-color: #eee;
}

body {
  margin-bottom: 4.1875em; // fixed footer
  background-color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.1875em; // fixed footer
  background-color: #555;
  color: #aaa;
}

ul, ol {
  padding-left: 2em;
  margin-bottom: 0.25em;
}

li {
  padding-bottom: 0.25em;
}

@keyframes fade {
  0% { opacity: 0; }
  10% { opacity: 0; }
  12.5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

.splash {
  @extend .alert;
  @extend .m-x-auto;
  @include alert-variant(#ffc, #ddd, $text-muted);
  margin-top: 3em;
  padding: 0.5em 1em;
  max-width: 28em;
  transform: rotate(-2deg);
}
