<footer>
  <div class="container m-t-2">

    <div class="small pull-xs-right">
      <span class="hidden-sm-up">xs</span>
      <span class="hidden-xs-down hidden-md-up">sm</span>
      <span class="hidden-sm-down hidden-lg-up">md</span>
    </div>

    <div class="small">
      &copy; 2016
    </div>

  </div>
</footer>
