<header>
  <nav class="container p-t-1 p-b-q">
    <%= link_to 'About', root_path, class: 'p-r-1' %> <%= link_to 'People', people_path %>
  </nav>
  <div class="container">
    <%= yield :button %>
    <h1 class="m-b-1">
      <%= yield :title %>
    </h1>
  </div>
</header>
