<header>
  <nav class="container p-t-1 p-b-q">
    <%= yield :nav %>
  </nav>
  <div class="container">
    <%= yield :button %>
    <h1 class="m-b-1">
      <%= yield :title %>
    </h1>
  </div>
</header>
